@{
    ViewData["Title"] = "Admin Page";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
  
}

<!-- Ảnh giới thiệu-->
<div class="anhgioithieu-container mt-5">
    <img src="https://lib.hutech.edu.vn/Uploads/SlideShow/BANNER%203.jpg?a=1"
    alt="Ảnh giới thiệu"
    class="anhgioithieu"
  />
  <div class="overlay">
    <div class="overlay-text">
      <h1>Chào Mừng Bạn Đến Với <span>TH LIBRARY</span></h1>
      <p>Mua Sách, Tặng Tri Thức Cho Chính Mình Và Người Thân.</p>
    </div>
  </div>
</div>



